fastapi==0.111.0
langchain==0.2.6
langchain_community==0.2.6
langchain_experimental==0.0.62
langchain_groq==0.1.6
langchain_openai==0.1.14
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
prophet
pydantic==2.8.0
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn
scipy==1.14.0
SQLAlchemy==2.0.31
streamlit==1.36.0
streamlit_shadcn_ui==0.1.18
uvicorn==0.30.1
